/*////////Color Schemes ///////////*/
/*////////Font Schemes ///////////*/
/* reset */
html {
  height: 100%; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none;
  margin: 0px;
  padding: 0px; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* start editing from here */
a {
  text-decoration: none; }

.txt-rt {
  text-align: right; }

/* text align right */
.txt-lt {
  text-align: left; }

/* text align left */
.txt-center {
  text-align: center; }

/* text align center */
.float-rt {
  float: right; }

/* float right */
.float-lt {
  float: left; }

/* float left */
.clear {
  clear: both; }

/* clear float */
.pos-relative {
  position: relative; }

/* Position Relative */
.pos-absolute {
  position: absolute; }

/* Position Absolute */
.vertical-base {
  vertical-align: baseline; }

/* vertical align baseline */
.vertical-top {
  vertical-align: top; }

/* vertical align top */
nav.vertical ul li {
  display: block; }

/* vertical menu */
nav.horizontal ul li {
  display: inline-block; }

/* horizontal menu */
img {
  max-width: 100%; }

/*end reset*/
@font-face {
  font-family: open-sans, sans-serif;
  font-weight: normal;
  font-style: normal; }

body {
  font-family: open sans, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
  background: #FFF;
  font-size: 100%;
  background: #3c3c3c; }

#skrollr-body {
  min-height: 1px;
  position: relative;
  width: 100%; }

/*---START SCENE---*/
.scene-container {
  margin-top: 0;
  background: #55c2e2;
  max-height: 400px;
  overflow: hidden; }
  .scene-container .top-scene {
    padding: 1px; }
    .scene-container .top-scene .layer:nth-child(1) {
      font-size: 5em;
      text-align: center;
      margin-top: 150px;
      margin-left: 150px; }
    .scene-container .top-scene .layer:nth-child(2) {
      font-size: 5em;
      margin-top: 150px;
      margin-left: 150px; }
    .scene-container .top-scene .layer:nth-child(3) {
      font-size: 5em;
      margin-top: 150px;
      margin-left: 150px; }
    .scene-container .top-scene .layer:nth-child(4) {
      font-size: 5em;
      margin-left: 50px;
      margin-top: 100px; }
    .scene-container .top-scene .layer:nth-child(5) {
      font-size: 5em;
      margin-left: 50px;
      margin-top: 20%; }
    .scene-container .top-scene .layer:nth-child(6) {
      font-size: 5em;
      margin-top: 70px;
      margin-left: 67%; }

/*---END SCENE---*/
/*---start-wrap---*/
.wrap {
  width: 80%;
  margin: 0 auto; }

.wrap-top {
  width: 90%;
  margin: 0 auto;
  padding: 4em 0;
  padding-bottom: 0; }

/*---start-header---*/
.logo {
  float: left;
  padding-left: 3%;
  padding-top: .3em;
  letter-spacing: .01em; }
  .logo span {
    height: 36px;
    width: 45px;
    display: inline-block;
    vertical-align: initial;
    margin-right: 7px; }
  .logo a {
    font-size: 2em;
    font-weight: 600;
    font-family: exo, sans-serif;
    color: #17191B;
    text-shadow: 1px 1px 1px #666666;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease; }
  .logo a:hover {
    color: #f2cb2f;
    text-shadow: none; }

.top-header {
  background-color: rgba(51, 51, 51, 0.9);
  top: 0;
  width: 100%;
  left: 0;
  z-index: 1000; }

.top-nav {
  float: right;
  padding-right: 4em;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all; }
  .top-nav ul {
    line-height: 40px; }
  .top-nav ul li {
    display: inline-block;
    margin-left: 0; }
  .top-nav ul li a {
    font-size: 1em;
    color: #3A494C;
    padding: 0.4em 1em;
    display: block;
    font-weight: 500;
    font-family: exo, sans-serif;
    color: #BEBEBE; }
  .top-nav li.active > a, .top-nav li > a:hover {
    color: #008cff;
    background: #1a1a1a; }

.header {
  max-height: 450px;
  overflow: hidden;
  background-image: url(../images/header-image-02.png); }
  .header .overlay-bg {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%; }
  .header .header-imagery {
    max-width: 100%;
    height: 300px;
    background-size: cover;
    padding: 10%; }
    .header .header-imagery .header-head {
      text-align: center;
      margin-bottom: 4%;
      vertical-align: middle; }
      .header .header-imagery .header-head h2 {
        color: #008cff;
        font-size: 4.5em;
        font-family: exo, sans-serif;
        text-transform: uppercase; }
    .header .header-imagery img {
      width: 200px;
      display: block;
      margin-left: auto;
      margin-right: auto; }

.da-title h3 {
  width: 50%;
  letter-spacing: 0.03em; }

/*---//End-header---*/
/*---content-----*/
.top-service-grid {
  float: left;
  width: 31.33%;
  float: left;
  margin-right: 2%;
  text-align: center;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all; }
  .top-service-grid img {
    max-width: 100%;
    max-height: 120px; }

.top-service-grid:nth-child(3) {
  margin-right: 0; }

.top-service-grid a {
  display: block; }

.top-service-grid a span {
  font-size: 1.5em;
  color: #323232;
  font-family: open sans, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
  font-weight: 900;
  margin: 1em 0 0.6em 0;
  display: block; }

.top-service-grid p {
  color: #5E5E5E;
  line-height: 1.5em;
  width: 90%;
  margin: 0 auto; }

.top-service-container .service-head {
  text-align: center;
  margin-bottom: 4%; }
  .top-service-container .service-head h3 {
    color: #008cff;
    font-size: 4.5em;
    font-family: exo, sans-serif;
    text-transform: uppercase; }
  .top-service-container .service-head p {
    color: #333;
    line-height: 1.5em;
    width: 50%;
    margin: 0 auto; }

/*---start-gallery-----*/
.recent-works {
  background: url(../images/header-image-02.png);
  background-size: contain;
  z-index: -6; }
  .recent-works .overlay-bg {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%; }

.wrap {
  padding: 4em 0;
  z-index: 2; }

.popup-gallery {
  max-width: 100%;
  margin: 1%;
  margin-bottom: 1em; }

.gallery {
  margin-top: 4%; }

#info {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #fcf8e3;
  border: 1px solid  #fbeed5;
  width: 95%;
  max-width: 900px;
  margin: 0 auto 40px auto;
  font-family: arial;
  font-size: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box; }

#info .info-wrapper {
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box; }

#info a {
  color: #c09853;
  text-decoration: none; }

#info p {
  margin: 5px 0 0 0; }

.container {
  position: relative;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

#filters {
  margin: 1% auto 5% auto;
  padding: 0;
  list-style: none;
  text-align: center;
  font-family: exo, sans-serif; }
  #filters li {
    display: inline-block; }
  #filters li span {
    -webkit-text-stroke: 0.5px;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    color: #B9BFCA;
    cursor: pointer;
    text-transform: capitalize;
    text-transform: uppercase;
    font-size: 1.4em;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    margin-right: 2em;
    border-radius: .1em;
    -webkit-border-radius: 0.1em;
    -moz-border-radius: 0.1em;
    -o-border-radius: 0.1em; }
  #filters li span:hover {
    background-color: #008cff;
    color: white; }
  #filters li span.active {
    background: #f2cb2f;
    color: black;
    text-transform: uppercase; }

#portfoliolist .portfolio {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  width: 33%;
  display: none;
  float: left;
  overflow: hidden;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all; }

.portfolio-wrapper {
  overflow: hidden;
  position: relative !important;
  cursor: pointer;
  margin: 1%; }

#thisTest {
  width: 100%; }

.portfolio img {
  max-width: 100%;
  position: relative;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
  border-radius: 2px; }
.portfolio .label {
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: -40px; }
.portfolio .label-bg {
  background: #323232;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }
.portfolio .label-text {
  color: #fff;
  position: relative;
  z-index: 500;
  padding: 3px 8px; }
.portfolio .text-title {
  font-size: 1em;
  font-weight: 600; }
.portfolio .text-category {
  display: block;
  text-transform: uppercase;
  font-size: .6em;
  color: #C5C5C5; }

/* #Clearing */
/* Self Clearing Goodness */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.row:after,
.clearfix:after {
  clear: both; }

.row,
.clearfix {
  zoom: 1; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

/* end gallery */
.recent-works-head {
  text-align: center; }
  .recent-works-head h3 {
    color: #f2cb2f;
    font-size: 4.5em;
    font-family: exo, sans-serif;
    text-transform: uppercase; }
  .recent-works-head p {
    color: #EEE;
    line-height: 1.5em;
    width: 50%;
    margin: 0 auto; }

.morebtn {
  background: #FFFFFF;
  color: #5E5E5E;
  border-radius: 0.5em;
  text-transform: uppercase;
  display: block;
  padding: 1.5em 3em;
  font-size: 1.2em;
  margin: 0 auto;
  text-align: center;
  font-weight: 900;
  width: 10%;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all; }

.morebtn:hover {
  background: #323232;
  color: #FFF; }

/*----start-testimonials-----*/
.testmon {
  background: url(../images/header-image-02.png);
  background-size: contain; }
  .testmon .overlay-bg {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%; }
  .testmon .speaker {
    float: right;
    font-family: exo, sans-serif;
    font-weight: 600;
    font-size: 1em;
    margin-right: 1.2em;
    text-align: right;
    width: 100%; }
    .testmon .speaker h3 {
      font-size: 1.5em;
      color: black; }
    .testmon .speaker h4 {
      font-style: italic;
      color: #999999;
      transition: 0.5s all;
      -webkit-transition: 0.5s all;
      -moz-transition: 0.5s all;
      -o-transition: 0.5s all; }
  .testmon .testmon-grid {
    width: 50%; }
    .testmon .testmon-grid:hover blockquote {
      background-color: #f2cb2f;
      border-color: #fff; }
    .testmon .testmon-grid:hover blockquote:before {
      color: black; }
    .testmon .testmon-grid:hover .speaker h4 {
      color: black; }
  .testmon blockquote {
    background: #f9f9f9;
    border-left: 10px solid #f2cb2f;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    padding-top: 3em;
    quotes: "\201C" "\201D" "\2018" "\2019";
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all; }
  .testmon blockquote:before {
    color: #f2cb2f;
    font-family: exo, sans-serif;
    padding-top: .1em;
    margin-left: -1%;
    position: absolute;
    content: open-quote;
    font-size: 8em;
    line-height: 0.1em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all; }
  .testmon blockquote p {
    display: inline; }

/*---start-team----*/
.team {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all; }

.team-head {
  text-align: center; }

.team-head h3 {
  color: #008cff;
  font-size: 4.5em;
  font-family: exo, sans-serif;
  text-transform: uppercase; }

.team-head p {
  color: #333;
  line-height: 1.5em;
  width: 50%;
  margin: 0 auto; }

/*----*/
.team-container {
  width: 90%;
  margin: 1em auto 1em; }

.team-member {
  width: 100%;
  text-align: center;
  margin-right: 7.5%;
  float: left; }
  .team-member .about-portrait {
    float: right;
    width: 33%;
    margin: 0; }
  .team-member .about-content {
    text-align: left;
    padding-left: 1em;
    width: 60%; }
    .team-member .about-content label {
      font-size: 1.2em; }
    .team-member .about-content h4 {
      color: #383838;
      font-size: 2.5em;
      font-family: acme, sans-serif;
      text-transform: uppercase;
      margin: 0.5em 0 0 0;
      display: block; }
    .team-member .about-content p {
      color: #8F8F8F;
      font-size: 1.1em;
      line-height: 1.5em;
      padding-right: .5em;
      padding-left: .5em; }
  .team-member :nth-child(3) {
    margin-right: 0; }
  .team-member span a {
    width: 80px;
    height: 80px;
    display: inline-block;
    background: url(../images/people-pic.png) no-repeat; }
  .team-member span {
    background: #E9E9E9;
    width: 100%;
    padding: 4em 0px;
    display: block; }
  .team-member label {
    color: #383838;
    font-family: trebuchet ms, open sans, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    margin: 0.3em 0 0.5em 0;
    display: block;
    font-weight: 900; }
  .team-member ul li {
    display: inline-block;
    margin-right: 5px; }
  .team-member ul {
    margin: 1em 0; }
  .team-member ul li a {
    width: 46px;
    height: 47px;
    display: block; }

.facebook {
  background: url(../images/social-icons.png) no-repeat 0px 0px; }

.twitter {
  background: url(../images/social-icons.png) no-repeat -59px 0px; }

.pin {
  background: url(../images/social-icons.png) no-repeat -120px 0px; }

/*------recent-postings-----*/
.recent-posts {
  background: url(../images/post-bg.jpg);
  padding: 4em 0; }

.post-grids {
  margin: 6em 0 1em; }

.post-grid {
  width: 29.33%;
  float: left;
  margin-right: 5%;
  text-align: center;
  background: #FFF;
  padding-bottom: 1em;
  margin-bottom: 5em;
  box-shadow: 0px 0px 10px rgba(238, 238, 238, 0.08); }

.post-grid:nth-child(3) {
  margin-right: 0; }

/*----recent-posts-head-----*/
.recent-posts-head {
  text-align: center; }

.recent-posts-head h3 {
  color: #FFF;
  font-size: 4.5em;
  font-family: exo, sans-serif;
  text-transform: uppercase; }

.recent-posts-head p {
  color: #EEE;
  line-height: 1.5em;
  width: 50%;
  margin: 0 auto; }

.post-grid span {
  background: #E9E9E9;
  width: 100%;
  padding: 4em 0px;
  display: block;
  cursor: pointer; }

.post-grid span a {
  width: 80px;
  height: 80px;
  display: inline-block;
  background: url(../images/post-icon.png) no-repeat; }

.post-grid h4 a {
  color: #383838;
  font-family: trebuchet ms, open sans, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
  font-size: 1.8em;
  margin: 1em 0 0em 0;
  display: block;
  font-weight: 900; }

.post-grid p {
  color: #909090;
  width: 90%;
  font-size: 1.1em;
  margin: 1em auto;
  line-height: 1.5em; }

.post-grid label {
  color: #545454;
  font-size: 1.2em;
  font-style: italic; }

/*---start-contact----*/
.contact {
  background: #3C3C3C;
  padding: 4em 0; }

.contact-head {
  text-align: center; }

.contact-head h3 {
  color: #D3D0D0;
  font-size: 4.5em;
  font-family: exo, sans-serif;
  text-transform: uppercase; }

.contact-head p {
  color: #D3D0D0;
  line-height: 1.5em;
  width: 40%;
  margin: 0 auto; }

.contatct-form {
  width: 55%;
  margin: 5em auto; }

.contatct-form input[type="text"], .contatct-form input[type="email"], .contatct-form textarea {
  background: #FFF;
  padding: 0.8em 1em;
  font-size: 1.2em;
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  width: 94%;
  border: none;
  outline: none;
  color: #1B1B1B;
  font-family: open sans, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
  margin-bottom: 1em;
  margin-top: 1em; }

::-webkit-input-placeholder {
  color: #A3A3A3;
  font-family: open sans, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #A3A3A3;
  font-family: open sans, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #A3A3A3;
  font-family: open sans, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif; }

:-ms-input-placeholder {
  color: #A3A3A3;
  font-family: open sans, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif; }

.contact-label {
  color: white;
  font-size: 1em; }

.contatct-form textarea {
  height: 180px;
  resize: none;
  margin-bottom: 1em; }

.contatct-form input[type="submit"] {
  background: #FFFFFF;
  color: #5E5E5E;
  border-radius: 0.5em;
  text-transform: uppercase;
  display: block;
  padding: 0.4em 0em;
  font-size: 1.4em;
  margin: 0 auto;
  text-align: center;
  border: none;
  width: 25%;
  font-weight: 900;
  outline: none;
  cursor: pointer;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  font-family: open sans, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif; }

.contatct-form input[type="submit"]:hover {
  background: #f2cb2f;
  color: #000; }

#flb-lightbox {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000;
  box-sizing: content-box;
  display: none; }

#flb-lightbox-background {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.8;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; }

#flb-lightbox-content {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: none;
  text-align: center;
  box-sizing: content-box;
  display: none;
  background-position: initial initial;
  background-repeat: initial initial; }

#flb-load {
  position: fixed;
  top: 40%;
  left: 0px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #fff;
  opacity: 0.3;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; }

#flb-lightbox-text {
  position: fixed;
  bottom: 0px;
  width: 90%;
  padding: 15px 6% 15px 5%;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  opacity: 0.8;
  font-size: 14px;
  line-height: 1.4;
  color: black;
  text-align: center;
  box-sizing: content-box;
  display: none; }

#flb-load2 {
  position: fixed;
  top: 40%;
  left: 0px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #fff;
  opacity: 0.3; }

/*---start-footer----*/
.footer {
  background: #3C3C3C; }

.footer-grids {
  border-top: 1px solid rgba(34, 34, 34, 0.33);
  padding: 2em 0; }

.footer-left {
  float: left; }

.footer-left ul li a {
  width: 57px;
  height: 56px;
  display: block; }

.footer-left ul li {
  display: inline-block;
  margin-right: 5px; }

.ftwiter {
  background: url(../images/footer-social-icons.png) no-repeat 0px 0px; }

.ftwiter:hover {
  background: url(../images/footer-social-icons.png) no-repeat 0px -56px; }

.fface {
  background: url(../images/footer-social-icons.png) no-repeat -70px 0px; }

.fface:hover {
  background: url(../images/footer-social-icons.png) no-repeat -70px -56px; }

.fhtml {
  background: url(../images/footer-social-icons.png) no-repeat -143px 0px; }

.fhtml:hover {
  background: url(../images/footer-social-icons.png) no-repeat -143px -56px; }

.fflick {
  background: url(../images/footer-social-icons.png) no-repeat -221px 0px; }

.fflick:hover {
  background: url(../images/footer-social-icons.png) no-repeat -221px -56px; }

.footer-right {
  float: right;
  margin-top: 1em; }

.footer-right p {
  color: #9C9D9D; }

.footer-right p a {
  color: #FED67F;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all; }

.footer-right p a:hover {
  color: #FFF; }

/*---End-footer----*/
/*** move top **/
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 0px;
  right: 10px;
  overflow: hidden;
  width: 50px;
  height: 50px;
  border: none;
  text-indent: 100%;
  background: url(../images/move-top.png) no-repeat 0px 0px;
  bottom: 10px;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all; }
  #toTop:hover {
    background: url(../images/move-top-hov.png) no-repeat 0px 0px; }

#toTopHover {
  width: 50px;
  height: 50px;
  display: block;
  overflow: hidden;
  float: right;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0); }

#toTop:active, #toTop:focus {
  outline: none; }

/*---//End-wrap-----*/
/*---start-responsive design----*/
@media only screen and (max-width: 2000px) and (min-width: 640px) {
  .top-header {
    position: fixed; } }
@media only screen and (max-width: 3000px) and (min-width: 1040) {
  #portfoliolist .portfolio {
    width: 25%; } }
@media only screen and (max-width: 1440px) and (min-width: 1366px) {
  .wrap {
    width: 80%; }

  #portfoliolist .portfolio {
    width: 25%; }

  .morebtn {
    width: 12%; }

  .blog-grid-right {
    width: 67%; }

  .contatct-form {
    width: 60%; } }
@media only screen and (max-width: 1366px) and (min-width: 1280px) {
  .wrap {
    width: 90%; }

  #portfoliolist .portfolio {
    width: 25%; }

  .morebtn {
    width: 12%; }

  .blog-grid-right {
    width: 67%; }

  .contatct-form {
    width: 60%; } }
@media only screen and (max-width: 1280px) and (min-width: 1024px) {
  .wrap {
    width: 90%; }

  #portfoliolist .portfolio {
    width: 25%; }

  .morebtn {
    width: 12%; }

  .blog-grid-right {
    width: 67%; }

  .contatct-form {
    width: 60%; }

  .post-grid {
    width: 31%;
    margin-right: 3%; } }
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .wrap {
    width: 90%; }

  .morebtn {
    width: 14%; }

  .blog-grid-right {
    width: 59%; }

  .blog-grid2-left {
    width: 59%; }

  .blog-grid2-right {
    width: 38%; }

  .contatct-form {
    width: 70%; }

  .post-grid {
    width: 31%;
    margin-right: 3%; }

  .top-nav ul li {
    margin-left: 0em; }

  .top-nav ul li a {
    font-size: 1.1em;
    padding: 0.4em 0.8em; }

  #filters li span {
    margin-right: 1em; } }
@media only screen and (max-width: 768px) and (min-width: 640px) {
  .wrap {
    width: 90%; }

  .wrap-top {
    padding: 8em 0; }

  .logo {
    float: none;
    text-align: center;
    padding-left: 0; }

  .top-header {
    padding: .2em 0; }

  .top-nav {
    float: none;
    text-align: center;
    margin-top: .5em;
    padding: 0; }

  .morebtn {
    width: 19%; }

  .blog-grid-left {
    width: 100%;
    float: none; }

  .blog-grid-right {
    width: 100%;
    float: none;
    margin-top: 1em; }

  .blog-grid2-left {
    width: 100%;
    float: none; }

  .blog-grid2-right {
    display: none; }

  .team-member {
    width: 100%;
    float: none;
    text-align: center;
    margin-right: 0%;
    padding-bottom: 0.8em;
    margin-bottom: 1.5em; }

  .team .about-portrait {
    width: 100%; }
  .team .about-content {
    text-align: center;
    width: 100%;
    padding: 0; }
    .team .about-content p {
      margin: 0;
      padding-right: .5em;
      padding-left: .5em; }

  .testmon .testmon-grid {
    width: 100%; }

  .contatct-form {
    width: 80%;
    margin: 2em auto; }

  .contatct-form input[type="submit"] {
    width: 30%; }

  .post-grid {
    width: 100%;
    margin-right: 0%;
    margin-bottom: 1.5em; }

  .top-nav ul li {
    margin-left: 0em; }

  .top-nav ul li a {
    font-size: 1.1em;
    padding: 0.4em 0.8em; }

  #filters li span {
    margin-right: 0em;
    font-size: 1em; }

  .top-service-grids {
    padding: 3em 0; }

  .top-service-grid {
    float: none;
    width: 100%;
    float: none;
    margin-right: 0%;
    margin-bottom: 1em; }

  .recent-works-head h3 {
    font-size: 4em; }
  .recent-works-head p {
    width: 70%; }

  .team-head h3 {
    font-size: 4em; }

  .team-head p, .recent-posts-head p, .contact-head p {
    width: 70%; }

  .team-members {
    margin: 3em auto 1em; }

  .recent-posts-head h3 {
    font-size: 4em; }

  .post-grids {
    margin: 3em 0 1em; }

  .contact-head h3 {
    font-size: 4em; } }
@media only screen and (max-width: 640px) and (min-width: 480px) {
  .wrap {
    width: 90%; }

  .logo {
    float: none;
    text-align: center;
    padding-left: 0; }

  .top-header {
    padding: .2em 0; }

  .top-nav {
    float: none;
    text-align: center;
    margin-top: .2em;
    padding: 0; }

  .morebtn {
    width: 23%;
    padding: 1em 2em; }

  #portfoliolist .portfolio {
    margin: 0;
    width: 50%; }

  .blog-grid-left {
    width: 100%;
    float: none;
    text-align: center; }

  .blog-grid-right {
    width: 100%;
    float: none;
    margin-top: 1em; }

  .blog-grid2-left {
    width: 100%;
    float: none; }

  .blog-grid2-right {
    display: none; }

  .team-member {
    width: 100%;
    float: none;
    text-align: center;
    margin-right: 0%;
    padding-bottom: 0.8em;
    margin-bottom: 1.5em; }

  .team .about-portrait {
    width: 100%; }
  .team .about-content {
    text-align: center;
    width: 100%;
    padding: 0; }
    .team .about-content p {
      margin: 0;
      padding-right: .5em;
      padding-left: .5em; }

  .testmon .testmon-grid {
    width: 100%; }

  .contatct-form {
    width: 80%;
    margin: 2em auto; }

  .contatct-form input[type="submit"] {
    width: 40%;
    padding: 1.2em 1.1em; }

  .post-grid {
    width: 100%;
    margin-right: 0%;
    margin-bottom: 1.5em; }

  .top-nav ul li {
    margin-left: 0em; }

  .top-nav ul li a {
    font-size: 1.1em;
    padding: 0.4em 0.8em; }

  #filters li span {
    margin-right: 0em;
    font-size: 1em; }

  .top-service-grids {
    padding: 3em 0; }

  .top-service-grid {
    float: none;
    width: 100%;
    float: none;
    margin-right: 0%;
    margin-bottom: 1em; }

  .recent-works-head h3 {
    font-size: 4em; }

  .recent-works-head p {
    width: 70%; }

  .team-head h3 {
    font-size: 4em; }

  .team-head p, .recent-posts-head p, .contact-head p {
    width: 70%; }

  .team-members {
    margin: 3em auto 1em; }

  .recent-posts-head h3 {
    font-size: 4em; }

  .post-grids {
    margin: 3em 0 1em; }

  .contact-head h3 {
    font-size: 4em; }

  #filters li span {
    padding: 10px 17px; }

  .blog-grid-left span, .blog-grid2-right span {
    display: inline-block; }

  .blog {
    padding: 0em 0; }

  .blog-grid2 {
    display: none; } }
@media only screen and (max-width: 480px) and (min-width: 320px) {
  .wrap {
    width: 90%; }

  .logo {
    float: none;
    text-align: center; }

  .top-header {
    padding: .2em 0 0 0; }

  .top-nav {
    float: none;
    text-align: center;
    margin-top: .2em;
    padding: 0;
    padding-bottom: .3em; }

  .morebtn {
    width: 32%;
    padding: 0.8em 1em; }

  .blog-grid-right h3 a, .blog-grid2-left h3 a {
    font-size: 1.5em; }

  .blog-grid-right p, .blog-grid2-left p {
    font-size: 1.2em; }

  .blogbtng {
    padding: 0.7em 1.2em; }

  .blog-grid1 {
    padding: 2em 0 3em 0; }

  .blog-grid-left {
    width: 100%;
    float: none;
    text-align: center; }

  .blog-grid-right {
    width: 100%;
    float: none;
    margin-top: 1em; }

  .blog-grid2-left {
    width: 100%;
    float: none; }

  .blog-grid2-right {
    display: none; }

  .team-member {
    width: 100%;
    float: none;
    text-align: center;
    margin-right: 0%;
    padding-bottom: 0.8em;
    margin-bottom: 1.5em; }

  .team .about-portrait {
    width: 100%; }
  .team .about-content {
    text-align: center;
    width: 100%;
    padding: 0; }
    .team .about-content p {
      margin: 0;
      padding-right: .5em;
      padding-left: .5em; }

  .contatct-form {
    width: 100%;
    margin: 2em auto; }

  .contatct-form input[type="submit"] {
    width: 40%;
    padding: 0.78em 1.1em;
    font-size: 1.2em; }

  .testmon .testmon-grid {
    width: 100%; }

  .post-grid {
    width: 100%;
    margin-right: 0%;
    margin-bottom: 1.5em; }

  .top-nav ul li {
    margin-left: 0em; }

  .top-nav ul li a {
    font-size: 1em;
    padding: 0.4em 0.6em; }

  #filters li span {
    margin-right: 0em;
    font-size: 0.875em; }

  .top-service-grids {
    padding: 1em 0; }

  .top-service-grid {
    float: none;
    width: 100%;
    float: none;
    margin-right: 0%;
    margin-bottom: 1em; }

  .recent-works-head h3 {
    font-size: 3em; }

  .recent-works-head p {
    width: 90%; }

  #portfoliolist .portfolio {
    width: 100%;
    margin: 0; }

  .team-head h3 {
    font-size: 3em; }

  .team-head p, .recent-posts-head p, .contact-head p {
    width: 90%; }

  .recent-works {
    padding: 2em 0; }

  .team-members {
    margin: 1.5em auto 1em; }

  .recent-posts-head h3 {
    font-size: 3em; }

  .post-grids {
    margin: 1.5em 0 1em; }

  .post-grid h4 a {
    margin: 0.8em 0 0em 0; }

  .contact-head h3 {
    font-size: 3em; }

  #filters li span {
    padding: 10px 9px; }

  .blog-grid-left span, .blog-grid2-right span {
    display: inline-block; }

  .blog {
    padding: 0em 0; }

  .blog-grid2 {
    display: none; }

  .logo a {
    font-size: 2.5em; }

  .post-grid p {
    margin: 0.8em auto 1em auto;
    font-size: 1em; }

  .contact {
    padding: 2em 0; }

  .contatct-form input[type="text"], .contatct-form textarea {
    padding: 0.8em;
    width: 94%;
    border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    font-size: 1em; }

  .footer-left {
    float: none;
    text-align: center; }

  .footer-right {
    margin-top: 1em;
    float: none;
    text-align: center; } }
@media only screen and (max-width: 320px) and (min-width: 240px) {
  .wrap {
    width: 90%; }

  .logo {
    float: none;
    text-align: center; }

  .top-header {
    padding: .2em 0 0 0; }

  .top-nav {
    float: none;
    text-align: center;
    margin-top: .2em;
    padding: 0; }

  .morebtn {
    width: 50%;
    padding: 0.5em 1em;
    font-size: 1em; }

  .testmon .testmon-grid {
    width: 100%; }

  #portfoliolist .portfolio {
    width: 100%; }

  .blog-grid-right h3 a, .blog-grid2-left h3 a {
    font-size: 1.5em; }

  .blog-grid-right p, .blog-grid2-left p {
    font-size: 1.2em; }

  .blogbtng {
    padding: 0.7em 1.2em; }

  .blog-grid1 {
    padding: 2em 0 3em 0; }

  .blog-grid-left {
    width: 100%;
    float: none;
    text-align: center; }

  .blog-grid-right {
    width: 100%;
    float: none;
    margin-top: 1em; }

  .blog-grid2-left {
    width: 100%;
    float: none; }

  .blog-grid2-right {
    display: none; }

  .team-member {
    width: 100%;
    float: none;
    text-align: center;
    margin-right: 0%;
    padding-bottom: 0.8em;
    margin-bottom: 1.5em; }

  .team .about-portrait {
    width: 100%; }
  .team .about-content {
    text-align: center;
    width: 100%;
    padding: 0; }
    .team .about-content p {
      margin: 0;
      padding-right: .5em;
      padding-left: .5em; }

  .contatct-form {
    width: 100%;
    margin: 1em auto; }

  .contatct-form input[type="submit"] {
    width: 100%;
    padding: 0.6em 1.1em;
    font-size: 1em; }

  .post-grid {
    width: 100%;
    margin-right: 0%;
    margin-bottom: 1.5em; }

  .top-nav ul li {
    margin-left: 0em;
    display: block; }

  .top-nav ul li a {
    font-size: 1em;
    padding: 0.4em 0.1em;
    border-radius: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -o-border-radius: none; }

  #filters li span {
    margin-right: 0em;
    font-size: 0.875em; }

  .top-service-grids {
    padding: 1em 0; }

  .top-service-grid {
    float: none;
    width: 100%;
    float: none;
    margin-right: 0%;
    margin-bottom: 1em; }

  .recent-works-head h3 {
    font-size: 2.3em; }

  .recent-works-head p {
    width: 100%; }

  .team-head h3 {
    font-size: 2.3em; }

  .team-head p, .recent-posts-head p, .contact-head p {
    width: 100%; }

  .recent-works {
    padding: 2em 0; }

  .team-members {
    margin: 1.5em auto 1em; }

  .recent-posts-head h3 {
    font-size: 2.3em; }

  .post-grid span {
    padding: 1em 0px; }

  .post-grids {
    margin: 1.5em 0 1em; }

  .post-grid h4 a {
    margin: 0.8em 0 0em 0;
    font-size: 1.3em; }

  .post-grid label {
    font-size: 0.8em; }

  .contact-head h3 {
    font-size: 2.3em; }

  #filters li span {
    padding: 2px 2px; }

  .blog-grid-left span, .blog-grid2-right span {
    display: inline-block;
    width: 264px;
    height: 207px;
    background: url(../images/blog-pic1.png) no-repeat;
    background-size: 100%;
    cursor: pointer; }

  .team-member span {
    padding: 1em 0px; }

  p
  .team-member p {
    font-size: 0.875em; }

  .blog {
    padding: 0em 0; }

  .blog-grid2 {
    display: none; }

  .logo a {
    font-size: 1.8em; }

  .post-grid p {
    margin: 0.8em auto 1em auto;
    font-size: 0.875em; }

  .contact {
    padding: 2em 0; }

  input[type="text"], input[type="email"] {
    padding: 0.7em;
    width: 92%;
    border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    font-size: 1em; }

  .contatct-form textarea {
    padding: 0.7em;
    width: 92%;
    border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    font-size: 1em; }

  .contatct-form textarea {
    height: 100px; }

  .footer-left {
    float: none;
    text-align: center; }

  .footer-right {
    margin-top: 1em;
    float: none;
    text-align: center; } }
